.header {
  background: #fff;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.05);
  z-index: 10;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
  }

  &__left {
    display: flex;
    align-items: center;
    gap: 16px;
    span {
      color: var(--color-blue);
      font-size: 18px;
      font-weight: 700;
      line-height: 120%;
    }
  }

  &__right button {
    padding: 10px 14px;
    font-size: 14px;
    font-weight: 700;
    line-height: 130%;
  }

  &__addContact.btn--red {
    display: none;
  }
}

@media (min-width: 768px) {
  .header {
    &__right {
      display: flex;
      gap: 16px;
    }

    &__addContact.btn--red {
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }
}
