@use "./reset";
@use "./variables";
@use "./base/fonts";

@use "./components/header";
@use "./components/sidebar";
@use "./components/contacts-list";
@use "./components/toaster";
@use "./components/popup";

html,
body {
  height: 100%;
}

body {
  font-family: var(--font-primary);
}

#app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

main {
  flex: 1;
  background: #f6f7f9;
}

.container {
  max-width: 1192px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
  flex: 1;
}

.btn--blue {
  color: #fff;
  background: var(--color-blue);
  border-radius: 6px;
  transition: background 0.3s ease;
  &:hover {
    background: var(--color-blue-hover);
  }
}

.btn--red {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 10px 14px;
  background: var(--color-red);
  border-radius: 6px;
  color: #fff;
  transition: background 0.3s ease;
  &:hover {
    background: var(--color-red-hover);
  }
}

.btn--close {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  transition: background 0.3s ease;

  &:hover {
    background: rgba(0, 0, 0, 0.05);
  }
}

.addContact {
  width: 100%;
  margin: 24px 0 32px;
}
