@font-face {
  font-family: "Arial";
  src: url("../../fonts/ArialMT.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Arial";
  src: url("../../fonts/Arial-BoldMT.woff2") format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: "Circe";
  src: url("../../fonts/Circe-Regular.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Circe";
  src: url("../../fonts/Circe-Bold.woff2") format("woff2");
  font-weight: 700;
}
